<footer id="footer">

   	<div class="footer-main copyright">
        <div class="row copyright"> &copy; Copyright 2017 by <a href="http://domain.invalid/">Virginie.Dodwin</a></div>
    </div>  

</footer>  